<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

  <ul class="timeline">
       <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-me" src="images/1.jpg" alt="">
            </div>
           <div class="timeline-panel">
            <div class="timeline-body">
                <br>Nous vous attendons à la célébration de notre mariage <strong>samedi 17/02/2024</strong>. </br>
                <br>La cérémonie civile aura lieu
                <strong>le midi à la Mairie du 9ème arrondissement de Paris</strong></br>
                <a href="https://www.google.fr/maps/place//data=!4m2!3m1!1s0x47e66e3eb594e2b9:0xf5b0a15d2946a23d?sa=X&ved=2ahUKEwjc1MjO9qOEAxWaUaQEHXXpBOwQ4kB6BAgOEAA">6 Rue Drouot, 75009 Paris</a>               
            </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
              <img class="img-me" src="images/2.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
                <br>Nous continuerons les festivités </br>
                <br><strong>à 19h au restaurant Dante</strong></br>
                <a href="https://maps.google.fr/maps?hl=en&gl=fr&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x47e66f3bb229007b:0x21c61b10bbb97d85">14 Rue de Paradis, 75010 Paris</a>  
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/4.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
               <br> Le jour suivant, <strong>le dimanche 18/02/2024</strong>, la cérémonie religieuse sera tenue </br>

                <br><strong>à 13h à l’église orthodoxe ukrainienne Saint apôtre Simon-le-Zélote</strong></br>
                <a href="https://www.google.fr/maps/place//data=!4m2!3m1!1s0x47e66de884d25439:0x436d63224cfb8ffc?sa=X&ved=2ahUKEwi9mLq9_KOEAxVHVaQEHWjLD9MQ4kB6BAgtEAA">6 Rue de Palestine, 75019 Paris</a>
                
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/6.jpg" alt="">
           </div>
           <div class="timeline-panel">
            <div class="timeline-body">
            Nous vous prions de remplir un petit questionnaire sur le dîner de mariage au plus vite possible (ça vous prendra une minute)

            <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSeNxm0EN-eh9IDIXEu1P5YPlzqkJfNJFNxxj8ooubdln7nVBw/viewform">C'est par ici</a></br>

Vous êtes bienvenus à toutes les trois activités, mais si vous ne pouvez faire qu’une seule c’est pas grave! 🙂

            </div>
           </div>
       </li>

  </ul>
</body>
</html>