<!DOCTYPE html>
<br lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

  <ul class="timeline">
       <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-me" src="images/1.jpg" alt="">
            </div>
           <div class="timeline-panel">
            <div class="timeline-body">
                <br>Чекаємо вас на нашому весіллі в <strong>суботу 17/02/2024</strong>. </br>
                <br>Урочиста частина відбудеться
                <strong>о 12 годині в Мерії 9 округу Парижу</strong></br>
                <a href="https://www.google.fr/maps/place//data=!4m2!3m1!1s0x47e66e3eb594e2b9:0xf5b0a15d2946a23d?sa=X&ved=2ahUKEwjc1MjO9qOEAxWaUaQEHXXpBOwQ4kB6BAgOEAA">6 Rue Drouot, 75009 Paris</a>               
            </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
              <img class="img-me" src="images/2.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
                <br>Ми продовжимо святкування </br>
                <br><strong>о 19 годині в ресторані Данте</strong></br>
                <a href="https://maps.google.fr/maps?hl=en&gl=fr&um=1&ie=UTF-8&fb=1&sa=X&ftid=0x47e66f3bb229007b:0x21c61b10bbb97d85">14 Rue de Paradis, 75010 Paris</a>  
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/4.jpg" alt="">
           </div>
           <div class="timeline-panel">
               <div class="timeline-body">
               <br> Наступного дня, <strong>в неділю 18/02/2024</strong>, відбудеться вінчання </br>

                <br><strong>о 13 годині в українській православній церкві святого апостола Симона Зелота</strong></br>
                <a href="https://www.google.fr/maps/place//data=!4m2!3m1!1s0x47e66de884d25439:0x436d63224cfb8ffc?sa=X&ved=2ahUKEwi9mLq9_KOEAxVHVaQEHWjLD9MQ4kB6BAgtEAA">6 Rue de Palestine, 75019 Paris</a>
                
               </div>
           </div>
       </li>
       <li class="timeline-inverted">
           <div class="timeline-image">
               <img class="img-me" src="images/6.jpg" alt="">
           </div>
           <div class="timeline-panel">
            <div class="timeline-body">
                Просимо вас щонайшвидше заповнити маленьку анкету про весільну вечерю (це потребує однієї хвилини):

            <br><a href="https://docs.google.com/forms/d/e/1FAIpQLSfkMzBLDKoQnHF0tEblozo6pnZk3vqSV8lEIZZUhwDWYv-JrQ/viewform
            ">Це тут</a></br>

            Ми запрошуємо вас на всі три події, але якщо ви маєте змогу бути тільки на одній - нічого страшного 🙂


            </div>
           </div>
       </li>

  </ul>
</body>
</html>